/*** custom css ***/
form div.errorMessage {
    padding-top: 5px;
    color: #c00;
}
.error {
	color: #c00;
}


table.data td,
table.data th {
	vertical-align: middle;
}

table.data .true,
table.data .false,
table.data .app-ready,
table.data .none {
	color:#000;
}
table.data .true {
	background-color: #A2E8A2;
}
table.data .false {
	background-color: #F0A8A8;
}
table.data .app-ready {
	background-color: #E5DDA0;
}
table.data .none {
	background-color: #eee;
}

td.active,
td.inactive {
	color:#444;
}

td.page-system {
	background-color: #ddd;
}
td.page-general {
	background-color: #77D5EF;
}


.state1,
.bg_green,
td.active {
    background-color: #A2E8A2;
}
.state-1,
.bg_red,
td.inactive {
    background-color: #F0A8A8;
}
.state0,
.bg_gray {
    background-color: #ddd;
}

button.ysa, 
a.btn.ysa {
    background-color: #77D5EF;
}
button.ysa:hover, 
a.btn.ysa:hover {
    background-color: #B3E2EF;
}


h1.content-title {
    margin-top: 0;
}
p.content-description {
    margin-bottom: 0;
}


form table.data label{
    position:relative;
    width:auto;
    margin:0;
    padding:0;
    display:inline-block;
    float:none;
    font-size:11px;
    line-height:1.5;
    background: none;
    -webkit-border-radius:0; -moz-border-radius:0; border-radius:0;
}
form table.data label span{
	font-size:10px;
}

h4.empty-list {
    text-align: center;
    padding-bottom: 1em;
}

nav ul li.activated ul {
    display: block;
}



#settings-form .option-image {
    padding:10px;
}
#settings-form .option-image span {
    display: block;
    margin-bottom: 1em;
}

/*** discount css ***/
#membership-section .item
{
	margin: 5px 0;
}
#membership-section .item .selector,
#membership-section .item .w-20
{
	vertical-align: middle;
	margin: 0 10px;
}
#membership-section .item .item-name
{
	min-width: 100px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
}

/*** studio page ***/
#specials-url img
{
	max-width: 100%;
}




.pager {
	height: 22px;
	line-height: 22px;
	float: right;
}
.pager li {
	display: inline;
	list-style: none;
	margin-left: 0;
}
.pager li.hidden {
	display: none;
}
.pager li a {
	border:1px solid;
	position:relative;
	padding:9px 12px;
	display:inline-block;
	cursor:pointer;
	background-repeat:no-repeat;
	background-position:4px 5px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	text-decoration:none;
	font-size:11px;
	font-weight:700;
	outline:0 none;
	text-align:center;
	text-transform:uppercase;
	margin:2px;
	min-height:22px;
	min-width:8px;
	white-space:pre-line;
	vertical-align:baseline;
	
	
	min-height:14px;
	line-height:14px;
	font-size:10px;
	padding:4px 7px;
	
	
	border-color:#c7c7c7 #b2b2b2 #b2b2b2 #c7c7c7;
	text-shadow:0 1px 0 rgba(255,255,255,0.7);
	color:#555555;
	background-color:#e6e6e6;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -2px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -2px 5px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -2px 5px rgba(0, 0, 0, 0.1);
}
.pager li a:active {
	top:1px;
	background-color:#f1f1f1;
	border-color:#b2b2b2 #c7c7c7 #c7c7c7 #b2b2b2;
	-webkit-box-shadow:inset 0 2px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 2px 1px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 2px 1px rgba(0, 0, 0, 0.1);
}
.pager li a:hover{
	background-color:#f1f1f1;
}
.pager li.selected a {
	background-color: #ccc;
	cursor: default;
}




dl {
	font-size: 13px;
	margin-bottom: 2em;
	line-height: 2;
}
dt {
	float:left;
	width:200px;
	clear:both;
}
dd {
	float:left;	
	font-weight: bold;
}





#application-form {
	
}
#application-form table tr td.state {
	font-size:13px;
	font-weight: bold;
}
#application-form table tr td.ready {
	color: #090;
}
#application-form table tr td.filled {
	color: #339;
}

#application-form table tr td.unapproved,
#application-form table tr td.rejected {
	color: #c00;
}

#application-moderate-form {
	
}
#application-moderate-form fieldset a.image {
	
}

#application-moderate-form fieldset span.lbl,
#application-moderate-form fieldset span.color {
	line-height: 40px;
	display:inline-block;
	vertical-align: middle;
	margin-right:5px;
	font-size:13px;
}
#application-moderate-form fieldset span.color {
	width:38px;
	height:38px;
	border:2px solid #777;
	line-height: 1;
}

#application-moderate-form fieldset a.image img {
	max-width:150px;
	width:auto;
}
#application-moderate-toolbar-form .msg {
	padding:1em 0;
	margin:0;
	text-align: center;
	font-size:13px;
}



ul.replies,
ul.replies li {
	margin:0;
	padding:0;
	list-style: none;
}
ul.replies li {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid #ddd;
}


ul.replies li .replier {
	font-size:13px;
}
ul.replies li .info {
	font-style: italic;
	padding:2px 0;
}
ul.replies li p {
	margin:0;
	padding:0;
}

#loginform input[type=text],
#loginform input[type=password] {
	width:302px;
}

#tab-custom-fields {
}
#tab-custom-fields section {
	height:260px;
	
}
#tab-custom-fields .name,
#tab-custom-fields .area {
	margin-bottom:1em;
}

#tab-custom-fields .image {
	float:left;
}
#tab-custom-fields .save {
	float:right;
}

#tab-custom-fields .image img {
	max-width:150px;
	max-height:100px;
	height:auto;
	vertical-align: middle;
}
#tab-custom-fields .image .delete-image {
	color:#c00;
	
}
#tab-custom-fields .custom-placeholder {
	height:260px;
	background:#eee;
}



#tutorial-form .video {
	padding-top:15px;
}
#tutorial-form .image {
	padding-top:15px;
}
#tutorial-form .image img {
	vertical-align: middle;
}
#tutorial-files {
	
}
#tutorial-files div.uploader {
	margin-bottom:0;
}
#tutorial-files input[type=text] {
	float:left;
	margin-right:10px;
}

td.preview-image-50 img{
	width:80px;
	height:auto;
}