/resources/images/.tmb/
/assets/*
/nbproject/private/
/nbproject/
/.idea/*
/images/albums/80ac45fb1a421c3a3d44b37308cc80da/.tmb/
/.htaccess
/images/albums/d6fd896101ff44894c4e30b10d1471f4/.tmb/
*.DS_Store/*