/*
alpha, bravo, charlie, delta, echo, foxtrot, 
golf, hotel, india, juliet, kilo, lima, mike, 
novemeber, oscar, papa, quebec, romeo, sierra, 
tango, uniform, victor, whiskey, x-ray, yankee, zulu.
*/

.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
}
.bw-gradient(@color: #F5F5F5, @start: 0, @stop: 255) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, rgb(@start,@start,@start)),
                               color-stop(1, rgb(@stop,@stop,@stop)));
  background: -ms-linear-gradient(bottom,
                                  rgb(@start,@start,@start) 0%,
                                  rgb(@start,@start,@start) 100%);
  background: -moz-linear-gradient(center bottom,
                                   rgb(@start,@start,@start) 0%,
                                   rgb(@stop,@stop,@stop) 100%);
}
.bordered(@top-color: #EEE, @right-color: #EEE, @bottom-color: #EEE, @left-color: #EEE) {
  border-top: solid 1px @top-color;
  border-left: solid 1px @left-color;
  border-right: solid 1px @right-color;
  border-bottom: solid 1px @bottom-color;
}
.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
  -webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}
.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}
.rounded-corners(@tl: 3px, @tr: 3px, @br: 3px, @bl: 3px) {
	-moz-border-radius-topleft: @tl;
	-moz-border-radius-topright: @tr;
	-moz-border-radius-bottomright: @br;
	-moz-border-radius-bottomleft: @bl;
	-webkit-border-radius: @tl @tr @br @bl;
	border-radius: @tl @tr @br @bl;
}

.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}
.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
}
.transition-duration(@duration: 0.2s) {
  -moz-transition-duration: @duration;
  -webkit-transition-duration: @duration;
  transition-duration: @duration;
}
.rotation(@deg:5deg){
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  transform: rotate(@deg);
}
.scale(@ratio:1.5){
  -webkit-transform:scale(@ratio);
  -moz-transform:scale(@ratio);
  transform:scale(@ratio);
}
.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-ms-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}

.inner-shadow(@horizontal:0, @vertical:1px, @blur:2px, @alpha: 0.4) {
  -webkit-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
}
.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}
.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}
.translate(@x:0, @y:0) {
  -moz-transform: translate(@x, @y);
  -webkit-transform: translate(@x, @y);
  -o-transform: translate(@x, @y);
  -ms-transform: translate(@x, @y);
  transform: translate(@x, @y);
}

/** colors **/
@black-alpha: #000;

@white-alpha: #fff;

@green-alpha:#17C600;
@green-bravo:#89B817;
@green-charlie:rgba(162, 232, 162, .9);

@red-alpha:#f00;
@red-bravo : #dF1414;
@red-charlie : #ef2424;
@red-delta : #CF0404;
@red-echo : #FF3019;
@red-foxtrot: rgba(240, 204, 204, .9);

@blue-alpha : #008eb0; 
@blue-bravo : #03b6f2;
@blue-charlie : #02b5f5;
@blue-delta : #05ade9;
@blue-echo : #e1f3f9;
@blue-foxtrot : #009CEA;
@blue-golf : #00A7DD;
@blue-hotel: #00b9fc;
@blue-india:#06c5f7;
@blue-juliet:#2bc5fd;
@blue-kilo: #0392c5;
@blue-lima: #09d4fd;
@blue-mike: #0584b2;
@blue-november:rgba(115, 208, 239, .9);

@gray-alpha: #5E646E;
@gray-bravo: #777;
@gray-charlie: #999;
@gray-delta: #555;
@gray-echo: #eee;
@gray-foxtrot: #c9c9c9;
@gray-golf: #f0f0f0;
@gray-hotel: #e0e0e0;
@gray-india: #f9f9f9;
@gray-juliet: #333;
@gray-kilo: #b0b0b0;
@gray-lima: #3a3a3a;
@gray-mike: #4c5057;
@gray-november: #616161;

@yellow-alpha:#fffef0;
@yellow-bravo:#E2B61E;
@yellow-charlie:rgba(232, 232, 162, .9);

@pink-alpha:#FFF5F5;
@pink-bravo:#ff7e7e;
@pink-charlie:#fa4b4c;

@biege-alpha:#e7ddcb;

/** fonts **/
.main-font {
	font-family:"Helvetica Neue", sans-serif;
}
.font-shorthand(@weight: normal, @size: 12px, @lineHeight: 1.2) {
	font-size: @size;
	font-weight: @weight;
	line-height: @lineHeight;
}
.font-sans-serif(@weight: normal, @size: 12px, @lineHeight: 1.2) {
	.main-font;
	font-size: @size;
	font-weight: @weight;
	line-height: @lineHeight;
}
.font-serif(@weight: normal, @size: 12px, @lineHeight: 1.2) {
	font-family: "Georgia", Times New Roman, Times, serif;
	font-size: @size;
	font-weight: @weight;
	line-height: @lineHeight;
}
.font-monospace(@weight: normal, @size: 12px, @lineHeight: 20px) {
	font-family: "Monaco", Courier New, monospace;
	font-size: @size;
	font-weight: @weight;
	line-height: @lineHeight;
}

.rounded-top(@radius: @radius) {
	-moz-border-radius-topleft: @radius;
	-moz-border-radius-topright: @radius;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: @radius @radius 0px 0px;
	border-radius: @radius @radius 0px 0px;
}
.rounded-bottom(@radius: 3px) {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: @radius;
	-moz-border-radius-bottomleft: @radius;
	-webkit-border-radius: 0px 0px @radius @radius;
	border-radius: 0px 0px @radius @radius; 
}

.rounded-right(@radius: 3px) {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: @radius;
	-moz-border-radius-bottomright: @radius;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 0px @radius @radius 0px;
	border-radius: 0px @radius @radius 0px; 
}

.rounded-left(@radius: 3px) {
	-moz-border-radius-topleft: @radius;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: @radius;
	-webkit-border-radius: @radius 0px 0px @radius;
	border-radius: @radius 0px 0px @radius; 
}

/** shadows **/
.shadow-gray-alpha {
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .3);
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .3); 
}
.shadow-black-alpha {
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
}

.text-shadow(@color: #fff) {
	text-shadow: 1px 1px 0px @color;
}
.shadowed(@shadow) {
	text-shadow: @shadow;
}
.no-text-shadow {
	text-shadow: none;
}

/** other **/
.margin-bottom-alpha {
	margin-bottom:24px;
}
.padding-bottom-alpha {
	padding-bottom:24px;
}
.padding-vertical-alpha {
	padding:24px 0;
}

.w {
    width:980px;
    margin:0 auto;
}

/** buttons **/
.btn-default {
	color: @blue-bravo;
	.box-shadow(1px 1px 0px 0px rgba(100, 100, 100, .5));
	.gradient(@gray-india, @gray-golf, @gray-india);
	.text-shadow;

	&:hover {
		.gradient(@gray-india + 5%, @gray-golf + 5%, @gray-india + 5%);
	}
	&:active {
		top:1px;
		.gradient(@gray-india - 5%, @gray-golf - 5%, @gray-india - 5%);
	}
}
.btn-blue {
	color:@white-alpha;
		.box-shadow(1px 1px 0px 0px rgba(0, 0, 0, .5));
		.text-shadow(rgba(0,0,0,.3));
		.gradient(@blue-bravo, @blue-golf, @blue-bravo);
	&:hover {
		.gradient(@blue-bravo + 5%, @blue-golf + 5%, @blue-bravo + 5%);
	}
	&:active {
		.gradient(@blue-bravo - 5%, @blue-golf - 5%, @blue-bravo - 5%);
	}
}
.btn-red {
	color:@white-alpha;
	.text-shadow(rgba(0,0,0,.3));
	.gradient(@red-delta, @red-delta, @red-echo);
	&:hover {
		.gradient(@red-delta + 5%, @red-delta + 5%, @red-echo + 5%);
	}
	&:active {
		.gradient(@red-delta - 5%, @red-delta - 5%, @red-echo - 5%);
	}
}
.btn-red-txt {
	color:@red-bravo;
	.text-shadow;
	&:hover {
		color:@red-charlie;
	}
	&:active {
		color:@red-delta;
	}
}
.btn-gray-txt {
	color:@gray-alpha;
	.text-shadow;
	&:hover {
		color:@gray-bravo;
	}
	&:active {
		color:@gray-delta;
	}
}
.btn-disabled {
	color:@gray-charlie;
	.gradient(@white-alpha, @white-alpha, @gray-india);
}

.btn-secondary {
	color:@blue-delta;
	.box-shadow(1px 1px 0px 0px rgba(100, 100, 100, .5));
	.gradient(@gray-echo, @gray-echo, @gray-golf);
	
	&:hover {
		.gradient(@gray-echo + 5%, @gray-echo + 5%, @gray-golf + 5%);
	}
	&:active {
		top:1px;
		.gradient(@gray-echo - 5%, @gray-echo - 5%, @gray-golf - 5%);
	}
}

.inline-block {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.transition-color-alpha {
	.transition(color 200ms ease);
}
