/*
alpha, bravo, charlie, delta, echo, foxtrot, 
golf, hotel, india, juliet, kilo, lima, mike, 
novemeber, oscar, papa, quebec, romeo, sierra, 
tango, uniform, victor, whiskey, x-ray, yankee, zulu.
*/
/** colors **/
/** fonts **/
.main-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/** buttons **/
.button-gray {
  color: #03b6f2;
  -webkit-box-shadow: 1px 1px 0px 0px rgba(100, 100, 100, 0.5);
  -moz-box-shadow: 1px 1px 0px 0px rgba(100, 100, 100, 0.5);
  box-shadow: 1px 1px 0px 0px rgba(100, 100, 100, 0.5);
  background: #fafafa;
  /* Old browsers */

  background: -moz-linear-gradient(top, #fafafa 24%, #efefef 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(24%, #fafafa), color-stop(100%, #efefef));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fafafa 24%, #efefef 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #fafafa 24%, #efefef 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #fafafa 24%, #efefef 100%);
  /* IE10+ */

  background: linear-gradient(top, #fafafa 24%, #efefef 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  /* IE6-9 */

}
.button-gray-hover {
  color: #02b5f5;
  -webkit-box-shadow: 1px 1px 0px 0px rgba(100, 100, 100, 0.4);
  -moz-box-shadow: 1px 1px 0px 0px rgba(100, 100, 100, 0.4);
  box-shadow: 1px 1px 0px 0px rgba(100, 100, 100, 0.4);
  background: #fafafa;
  /* Old browsers */

  background: -moz-linear-gradient(top, #fafafa 50%, #f2f2f2 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fafafa), color-stop(100%, #f2f2f2));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fafafa 50%, #f2f2f2 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #fafafa 50%, #f2f2f2 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #fafafa 50%, #f2f2f2 100%);
  /* IE10+ */

  background: linear-gradient(top, #fafafa 50%, #f2f2f2 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#f2f2f2', GradientType=0);
  /* IE6-9 */

}
.button-gray-active {
  -webkit-box-shadow: 1px 1px 0px 0px rgba(100, 100, 100, 0.6);
  -moz-box-shadow: 1px 1px 0px 0px rgba(100, 100, 100, 0.6);
  box-shadow: 1px 1px 0px 0px rgba(100, 100, 100, 0.6);
  color: #05ade9;
  background: #f4f4f4;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f4f4f4 27%, #e8e8e8 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(27%, #f4f4f4), color-stop(100%, #e8e8e8));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f4f4f4 27%, #e8e8e8 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f4f4f4 27%, #e8e8e8 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f4f4f4 27%, #e8e8e8 100%);
  /* IE10+ */

  background: linear-gradient(top, #f4f4f4 27%, #e8e8e8 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#e8e8e8', GradientType=0);
  /* IE6-9 */

}
.button-blue {
  color: #ffffff;
  background: #01b1f0;
  /* Old browsers */

  background: -moz-linear-gradient(top, #01b1f0 27%, #02a2e5 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(27%, #01b1f0), color-stop(100%, #02a2e5));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #01b1f0 27%, #02a2e5 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #01b1f0 27%, #02a2e5 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #01b1f0 27%, #02a2e5 100%);
  /* IE10+ */

  background: linear-gradient(top, #01b1f0 27%, #02a2e5 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#01b1f0', endColorstr='#02a2e5', GradientType=0);
  /* IE6-9 */

  -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.5);
}
.button-blue-hover {
  background: #0bb6ef;
  /* Old browsers */

  background: -moz-linear-gradient(top, #0bb6ef 27%, #0da6e2 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(27%, #0bb6ef), color-stop(100%, #0da6e2));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #0bb6ef 27%, #0da6e2 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #0bb6ef 27%, #0da6e2 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #0bb6ef 27%, #0da6e2 100%);
  /* IE10+ */

  background: linear-gradient(top, #0bb6ef 27%, #0da6e2 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0bb6ef', endColorstr='#0da6e2', GradientType=0);
  /* IE6-9 */

}
.button-blue-active {
  background: #02acef;
  /* Old browsers */

  background: -moz-linear-gradient(top, #02acef 27%, #029be2 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(27%, #02acef), color-stop(100%, #029be2));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #02acef 27%, #029be2 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #02acef 27%, #029be2 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #02acef 27%, #029be2 100%);
  /* IE10+ */

  background: linear-gradient(top, #02acef 27%, #029be2 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#02acef', endColorstr='#029be2', GradientType=0);
  /* IE6-9 */

}
.button-disabled {
  color: #aaa;
  background: #ffffff;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* IE10+ */

  background: linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
  /* IE6-9 */

}
.button-red {
  color: #fff;
  background: #ff3019;
  background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404));
  background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -o-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -ms-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: linear-gradient(top, #ff3019 0%, #cf0404 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0);
}
.button-red-hover {
  background: #ff3a3a;
  background: -moz-linear-gradient(top, #ff3a3a 0%, #e52727 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3a3a), color-stop(100%, #e52727));
  background: -webkit-linear-gradient(top, #ff3a3a 0%, #e52727 100%);
  background: -o-linear-gradient(top, #ff3a3a 0%, #e52727 100%);
  background: -ms-linear-gradient(top, #ff3a3a 0%, #e52727 100%);
  background: linear-gradient(top, #ff3a3a 0%, #e52727 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff3a3a', endColorstr='#e52727', GradientType=0);
}
.button-red-active {
  background: #cc0000;
  background: -moz-linear-gradient(top, #cc0000 0%, #cc0000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cc0000), color-stop(100%, #cc0000));
  background: -webkit-linear-gradient(top, #cc0000 0%, #cc0000 100%);
  background: -o-linear-gradient(top, #cc0000 0%, #cc0000 100%);
  background: -ms-linear-gradient(top, #cc0000 0%, #cc0000 100%);
  background: linear-gradient(top, #cc0000 0%, #cc0000 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cc0000', endColorstr='#cc0000', GradientType=0);
}
.button-secondary {
  color: #05ade9;
  -webkit-box-shadow: 1px 1px 0px 0px rgba(100, 100, 100, 0.5);
  -moz-box-shadow: 1px 1px 0px 0px rgba(100, 100, 100, 0.5);
  box-shadow: 1px 1px 0px 0px rgba(100, 100, 100, 0.5);
  background: #f5f5f5;
  background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
.button-secondary-hover {
  background: #f0f0f0;
  background: -moz-linear-gradient(top, #f0f0f0 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #f0f0f0 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #f0f0f0 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #f0f0f0 0%, #e5e5e5 100%);
  background: linear-gradient(top, #f0f0f0 0%, #e5e5e5 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#e5e5e5', GradientType=0);
}
.button-secondary-active {
  background: #eeeeee;
  /* Old browsers */

  background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
  /* IE10+ */

  background: linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#eeeeee', endColorstr='#eeeeee', GradientType=0);
  /* IE6-9 */

}
/** shadows **/
.shadow-gray-alpha {
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
}
/** other **/
.margin-bottom-alpha {
  margin-bottom: 24px;
}
.padding-bottom-alpha {
  padding-bottom: 24px;
}
.padding-vertical-alpha {
  padding: 24px 0;
}
