.connectedSortable
{
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0;
	float: left;
	margin-right: 10px;
	width: 142px;
}
.connectedSortable li
{
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
	width: 120px;
	cursor: move;
}
.events-block
{
	margin: 0 10px 0 0;
	padding: 0;
	float: left;
	width: 142px;
	border: 1px solid #ccc;
}