.albums,
.album-photos {
	margin-bottom: 5em;
}
.albums li,
.album-photos li {
	float: left;
	margin:0 1em 1em 0;
	position: relative;
	width:300px;
	height: 200px;
	border: 1px solid #eee;
}

.albums li .toggler {
	cursor: pointer;
	position: absolute;
	right:0;
	bottom:0;
	padding:4px;
	color: #000;
	background: #fff;
	display: block;
	line-height: 1;
	display: none;
}
.albums li:hover .toggler {
/*	display: block;*/
}



.album-photos li .menu,
.albums li .menu {
	position: absolute;
	left:0;
	bottom:0;
	width:280px;
	padding:10px;
	background: rgba(0,0,0,.7);
	font-size: 11px;
	display: none;
}

.album-photos li figcaption,
.albums li figcaption {
	position: absolute;
	left:0;
	top:0;
	padding:10px;
	background: rgba(0,0,0,.8);
	font-size: 16px;
	color: #fff;
	display: none;
}

.album-photos li:hover .menu,
.album-photos li:hover figcaption,
.albums li:hover .menu,
.albums li:hover figcaption {
	display: block;
}
.album-photos li a:last-child:after {
	content:'';
}


.album-photos li .menu a,
.albums li .menu a {
	color: #ddd;
	padding:0 5px;
}
.album-photos li .menu a:hover,
.albums li .menu a:hover {
	text-decoration: underline;
}


.album-photos .cover {
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 1); 
}











.smugmug-import {
	
}
.smugmug-import .loading {
	display: none;
}
.smugmug-import .import {
	
}
.smugmug-import .import ul {
	overflow: hidden;
	zoom:1;
}
.smugmug-import .import ul li {
	float: left;
	margin:0 1em 1em 0;
}