/* Less Styles
*******************************/
@import 'general';

/* Breadcrumb
*******************************/
.empty-breadcrumb {
	.margin-bottom-alpha;
}
.breadcrumb{
	display:block;
	background: #f7f7f7;
	.gradient(#f7f7f7, #efefef, #f7f7f7);
	.box-shadow(1px 1px 1px 0px rgba(200, 200, 200, .3));
	.rounded(5px);
	
	margin-top: -21px;
	.margin-bottom-alpha;
	
	ul {
		padding:15px 20px;
		height:12px;
		li {
			display: inline;
			list-style:none;
			max-width:280px;
			color: #5e646c;
			a,
			span {
				font-size:12px;
				line-height: 1;
				color: @blue-delta;
				text-decoration:none;
				.text-shadow(@white-alpha);
			}
			a {
				&:hover {
					color:@blue-alpha;
				}
			}
			span {
				color: @gray-alpha;
			}
			&.separator {
				padding:0 20px;
			}	
		}
	}	
	&.disabled {
		opacity:0.8;
		filter:Alpha(opacity=80);
	}
}

/* Static Flash Member Styles
*******************************/
div.static-flash {
	.w;
	width:940px;
	.margin-bottom-alpha;
}


/* Announcements
*******************************/
#announcements-label {
	display:block;
	background:@red-alpha;
	color:@white-alpha;
	position:absolute;
	padding:0 5px;
	line-height:16px;
	.rounded(3px);
	top:23px;
	left:165px;
	.shadow-gray-alpha;
	&:hover {
		opacity:.5;
	}
	&:active {
		top:24px;
	}
}
#announcements {
	.w;
	.announcement {
		padding:1em 20px;
		border-bottom:2px solid @blue-juliet;
		.gradient(@blue-hotel, @blue-hotel, @blue-india);
		.rounded(0 0 4px 4px);
		color:@white-alpha;
		.shadow-gray-alpha;
		.margin-bottom-alpha;
		.title {
			.font-shorthand(700, 14px, 1.2);
		}
		.msg {
			.font-shorthand(normal, 12px, 1.5);
		}
		a {
			color:@white-alpha;
			text-decoration:underline;
		}
		.announcement-all {
			display: block;
		}
	}
	.more {
		text-align:center;
		.margin-bottom-alpha;
	}
}

figure {
	position: relative;
	a.delete {
		position: absolute;
		right:-5px;
		top:-5px;
		background: #f5f5f5 url(../images/close.gif) 50% 50% no-repeat;
		height:14px;
		width:14px;
		text-indent: -9999px;
		
		display: none;
		
		.box-shadow(inset 1px 1px 1px 0px rgba(0, 0, 0, .2));
		.rounded(7px)
	}
	&:hover a.delete {
		display: block;
	}
}

/* Form elements
*******************************/
input[type=text],
input[type=password],
textarea {
	width:400px;
}

/* Buttons
*******************************/
button, 
a.btn,
input[type="submit"],
input[type="button"] {
	.inline-block;
	cursor:pointer;
	padding:8px 12px;
	text-decoration:none;
	position:relative;
	outline:0 none;
	text-align:center;
	text-transform:uppercase;
	margin:2px;
	min-height:22px;
	min-width:8px;
	white-space:pre-line;
	vertical-align:baseline;
	border:0;
	.font-sans-serif(700, 11px, 1);
	.rounded(4px);

	.btn-default;
	
	&.blue {
		.btn-blue;
	}
	&.red {
		.btn-red;
	}
	&.red-txt {
		.btn-red-txt;
	}
	&.gray-txt {
		.btn-gray-txt;
	}
	
	&.small {
		min-height:14px;
		.font-shorthand(700, 10px, 14px);
		padding:4px 7px;
	}
	&.big {
		font-size:14px;
		padding:12px 16px;
	}

	&.disabled,
	&.disabled:hover,
	&.disabled:active {
		top:0;
		cursor:default;
		.btn-disabled;
		.no-text-shadow;
	}
}
a.btn{
	line-height:18px;
	min-height:18px;
}

a.secondary {
	.inline-block;
	cursor:pointer;
	text-decoration:none;
	position:relative;
	outline:0 none;
	white-space:pre-line;
	vertical-align:baseline;
	text-transform:uppercase;
	border:0;
	padding:6px 12px;
	.font-sans-serif(700, 11px, 12px);
	.btn-secondary;
	.rounded(12px);
	&.iconed {
		padding:6px 12px 6px 36px;
		.icon {
			position:absolute;
			left:12px;
			top:4px;
			.icon-blue;
		}
	}
}

/* Labels
*******************************/
.label {
	.inline-block;
	margin:2px;
	padding: 0 6px;
	color: @white-alpha;
	white-space: nowrap;
	background-color: @gray-charlie;
	.font-shorthand(700, 11px, 20px);
	.shadow-gray-alpha;
	.rounded(3px);
	&.blue {
		background-color:@blue-delta;
	}
	&.red {
		background-color:@red-bravo;
	}
	&.green {
		background-color:@green-alpha;
	}
	&.yellow {
		background-color:@yellow-bravo;
	}
}


/* Boxes
*******************************/
section.box {
	.margin-bottom-alpha;
	.box-title {
		padding:0 20px;
		margin: 0;
		border-bottom: 1px solid @gray-foxtrot;
		height:44px;
		.rounded-top(3px);
		.gradient(@white-alpha, @gray-india, @white-alpha);
		.text-shadow();
		.box-title-button {
			float: right;
			padding:10px 0;
		}
		h3 {
			color:@gray-alpha;
			font:bold 11px/44px sans-serif;
			text-transform: uppercase;
			float: left;
			margin-bottom:0;
		}

		.box-icon {
			.icon;
			float:left;
			margin:12px 12px 0 0;
		}
		.box-help {
			float:left;
			margin:11px 0 0 11px;
			border:2px solid @blue-charlie;
			color:@blue-charlie;
			font-weight:bold;
			height:16px;
			width:16px;
			line-height:16px;
			text-align:center;
			.rounded(9px);
			position:relative;
			&:hover {
				color:@gray-alpha;
				border-color:@gray-alpha;
			}
			&:active {
				top:1px;
				color:@gray-lima;
				border-color:@gray-lima;
			}
		}
	}
	.box-content {
		padding:20px;
		background-color: @white-alpha;
		background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAJElEQVQImWOYO3euFDJmgAFsgnPnzpViwCYIl8CnmwGrXdgEAbpNLpnJW+S5AAAAAElFTkSuQmCC);
		.rounded-bottom(3px);
	}
}
.fancybox-inner section.box {
	margin-bottom:0;
}

/* Shadow Boxes
*******************************/
.shadow-box {
	padding:20px;
	background: @white-alpha;
	position: relative;
	.shadow-gray-alpha;
	.rounded(3px);
}

.info-box {
	dl {
		padding:0;
		margin:0 0 1em 0;
		dt,
		dd {
			line-height:2;
			float:left;
			padding:0;
			margin:0;
		}
		dt {
			width:150px;
			clear:both;
		}
		dd {
			font-weight:bold;
		}
	}
}
.menu-box {
	ul {
		li {
			display:inline;
			margin-right:20px;
			text-transform:uppercase;
			font-size:11px;
			font-weight:bold;
		}
	}
}



/* Widget Boxes
*******************************/
.widgets {
	min-height: 400px;

	.place {
		background-color:@yellow-alpha;
		.margin-bottom-alpha;
	}
}
.widget {
	.box-shadow(1px 1px 1px 0px rgba(200, 200, 200, 1));
	.box-title {
		cursor: move;
	}
	
	li {
		line-height:1.7;
	}

	.list {
		padding-bottom:10px;
		border-bottom:1px solid @gray-foxtrot;
		margin-bottom:10px;
	}

	.list li {
		text-transform:uppercase;
		font-size:11px;
		line-height:2;
		font-weight:700;
	}

	.box-button {
		text-align:right;
	}
	
	span.number {
		.font-shorthand(700, 17px, 1.2);
		display:inline-block;
		width:40px;
		vertical-align: baseline;
	}

	span.warning {
		color: red;
	}
}
#widget_application img 
{
	float: left; 
	margin-right: 20px    
}

/* Standart Form
*******************************/
.form {
	section {
		margin-bottom: 1em;
	}
	legend {
		display: block;
		color:@gray-alpha;
		font:bold 11px/1 sans-serif;
		margin-bottom: 1em;
		text-transform: uppercase;
	}
	.button input {
		position:relative;
	}
}

.form section label,
.form section > div strong {
	float: left;
	font-weight: bold;
	line-height: 2;
	width:200px;
}
.form section > div {
	float: left;
	width:700px;
}
.ajax-form section > div {
	width:415px;
}

.form .errorMessage {
	float: right;
	width:250px;
	padding:7px 10px;
	color:#cb0202;
	background: #f0e6e6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
}
.form .button {
	padding-left: 200px;
}
.form div.selector {
	width:420px;
}
.form div.selector span {
	width:380px;
}

.form div.selector select {
	min-width:415px;
}
.form .status {
	font-size:11px;
}


/* Lists
*******************************/
.empty-list {
	padding:1em 0;
	text-align: center;
	font-weight: bold;
	color: #888;
}

/* Description
*******************************/
.box-description {
	border:1px solid #d2d2d2;
	border-right-color: #b0b0b0;
	border-bottom-color: #b0b0b0;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	.text-shadow;
	padding:10px;
	font-style: italic;
	margin-bottom: 1em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
}

/* Pagination
*******************************/
.pager {
	height: 22px;
	line-height: 22px;
	float: right;
}
.pager li {
	display: inline;
	list-style: none;
	margin-left: 0;
}
.pager li.hidden {
	display: none;
}
.pager li a {
	border:1px solid #efefef;
	border-bottom-color: #d0d0d0;
	position:relative;
	padding:8px 12px;
	color: #01b1f0;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
	font-size:11px;
	font-weight:700;
	outline:0 none;
	text-align:center;
	text-transform:uppercase;
	margin:2px;
	white-space:pre-line;
	vertical-align:baseline;
	
	min-height:15px;
	line-height:15px;
	font-size:10px;
	padding:4px 7px;
	
	//.button-gray;
	.rounded(4px);
}
.pager li a:active {
	top:1px;
	
	//.button-gray-active;
}
.pager li a:hover{
	//.button-gray-hover;
}
.pager li.selected a {
	cursor: default;
	//.button-blue;
}

/* Data Tables
*******************************/
.data-box {
	
}
table.data {
	width:100%;
	border:0;

	td,
	th {
		border:0;
		text-align: left;
	}
	th {
		text-transform: uppercase;
		font-size: 11px;
	}
	td {
		padding:10px 5px 10px 5px;
	}

	td.empty-list {
		text-align: center;
		padding:2em 0;
	}

	thead th {
		border-bottom: 1px solid #dddddd;
		padding:0 5px 10px 5px;
	}

	tr:nth-child(2n) {
		th,
		td {
			background-color: #f9f9f9;
		}
	}

	a.title,
	span.title {
		font-size: 11px;
		text-transform: uppercase;
		display: block;
		margin-bottom: .5em;
	}
	span.title {
		color:@blue-alpha;
	}
	.descr {
		font-size: 11px;
		display: block;
		color: @gray-bravo;
	}
	.actions {
		width:1%;
		white-space: nowrap;
		text-align: center;
	}


	.state-inactive td {
		background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAJElEQVQImWOYO3euFDJmgAFsgnPnzpViwCYIl8CnmwGrXdgEAbpNLpnJW+S5AAAAAElFTkSuQmCC);
	}


	.active,
	.inactive {
		font-weight:700;
		font-size:11px;
	}

	.inactive {
		color:@red-alpha;
	}
	.active {
		color:@green-alpha;
	}

	.member,
	.ipad {
		display:block;
		.icon;
	}
	.member {
		.i_user;
	}
	.ipad {
		.i_iphone;
	}
}





/* Event Page
*******************************/
#event,
#album,
#client {
	#uniform-description-state {
		span {
			width:115px;
		}
		#description-state {
			min-width:150px;
		}
	}
	.description {
		float:left;
		width:16%;
		background: #fff;
		
		.title {
			font-size:11px;
			color:@gray-alpha;
			font-weight:700;
			text-transform:uppercase;
			margin-bottom:.5em;
		}
		dl,dt,dd {
			margin:0;
			padding:0;
		}
		dl {
			overflow:hidden;
			zoom:1;
			line-height:2;
		}
		dt {
			color:@blue-alpha;
			float:left;
			clear:both;
			width:74px;
		}
		dd {
			float:left;
			width:74px;
			font-weight:bold;
		}
	}
	.main-box {
		width:77%;
		float: right;
		
		.main-box-title {
			margin-bottom:1em;
			border-bottom:1px solid #ddd;
			padding-bottom:1em;
			h3 {
				vertical-align:middle;
				float:left;
				padding-top:12px;
				margin:0;
				color:@gray-alpha;
				a {
					vertical-align:middle;
					float:none;
				}
			}
			a {
				float:right;
				margin:0 0 0 1em;
			}
		}
		.album-photos,
		.albums {
			li {
				float:left;
				margin:0 4px 8px;
				width:210px;
				height:140px;
				padding:10px;
				border: 1px solid @gray-echo;
				background:@white-alpha;
				.rounded(5px);
				.shadow-gray-alpha;
				figure {
					width:210px;
					height:140px;
					overflow:hidden;
					position:relative;
					
					figcaption {
						position:absolute;
						left:0;
						top:0;
						width:210px;
						background:@white-alpha;
						color:@blue-alpha;
						display:none;
					}
					figcaption a {
						display:block;
						font-size:16px;
						width:180px;
						padding:10px 2px;
					}
					.menu {
						position:absolute;
						display:none;
						color:@gray-charlie;
						width:190px;
						bottom:0;
						left:0;
						padding:8px 10px;
						background:rgba(255,255,255,.8);
					}
					.move {
						position:absolute;
						z-index:100;
						right:2px;
						top:6px;
						display:none;
						cursor: move;
					}
					&:hover {
						figcaption,
						.menu,
						.move {
							display:block;
						}
					}
				}
				&.inactive {
					background-color:@gray-golf;
					border:1px solid @gray-golf;
					figcaption {
						background:@gray-golf;
					}
				}
				&.place {
					background:@gray-echo;
				}
				&.cover {
					background-color:@blue-echo;
					
					figcaption {
						background-color:@blue-echo;
					}
				}
			}
		}
	}
}

#album-import-zenfolio-container,
#album-import-smugmug-container,
#album-import-pictage-container {
	display:none;
	.data {
		height:100px;
	}
	.loading {
		display:none;
	}
}


section.smugmug-import,
section.zenfolio-import {
	display:none;
	.box-content {
		background-color:transparent;
		background-image:none;
	}
	.loading {
		padding:20px;
		text-align:center;
		font-style:italic;
		display: none;
	}
	.importing {
		display:none;
		text-align:left;
		font-style:italic;
		line-height:24px;
	}

	.data {
		margin-bottom:2em;
	}

	.import {

		ul {
			padding-bottom:1em;
			border-bottom: 1px solid @gray-echo;
			margin-bottom:1em;
		}

		h3 {
			font-size: 11px;
			text-transform: uppercase;
			font-weight:bold;
			display: block;
			margin-bottom: 1em;
		}

		li {
			float: left;
			margin:0 1em 1em 0;

			padding:10px;
			border: 1px solid @gray-echo;
			background:@white-alpha;
			.rounded(5px);
			.shadow-gray-alpha;


			label {
				display:block;
			}
			figure {
				cursor:pointer;
				display:block;
				margin-bottom:5px;
			}
			figure img {
				.rounded(5px);
			}
			span {
				display:block;
				text-align:center;
			}
		}
	}
}


#photo {
	figure {
		float:left;
		img {
			max-width:550px;
			height:auto;
		}
	}
	.description {
		float:right;
		width:290px;
		background:@gray-golf;
		padding:20px;
		.rounded(3px);
		.title {
			font-size:11px;
			font-weight:700;
			text-transform:uppercase;
			margin-bottom:.3em;
		}
		.container {
			margin-bottom:1em;
		}
		dl {
			padding:0;
			margin:0;
			line-height:2;
			dt {
				float:left;
				width:100px;
				clear:both;
			}
			dd {
				float:left;
				width:150px;
				font-weight:bold;
			}
		}
		ul.edit {
			border-top:1px solid @gray-foxtrot;
			margin-top:.5em;
			li {
				border-bottom:1px solid @gray-foxtrot;
				a {
					display:block;
					padding:.5em .5em;
					line-height:1;
					span {
						.icon;
						//.i_spin_alt;
						margin-right:5px;
					}
					&:hover {
						background:@white-alpha;
					}
				}
			}
			
			
		}
	}
}


#studio-specials-container {}
#studio-specials {
	.loading {
		display: none;
	}
	figure img {
		max-width: 900px;
		height: auto;
	}
	.box-description {
		float: right;
		margin-bottom: 0;
		width:780px;
		margin:2px;
	}

	.image-wrapper {
		a.image {
			float:left;
			margin-right:3em;
			img {
				height:64px;
				width:auto;
			}
		}
		a.delete {
			float:left;
			margin-top:20px;
		}
	}
	.pdf-wrapper {
		a.pdf {
			width:64px;
			height:63px;
			text-indent:-9999px;
			float:left;
			margin-right:3em;
			background:url("../images/pdf.png") 0 0 no-repeat;
		}
		a.delete {
			float:left;
			margin-top:20px;
		}
	}
}

#studio-video {
	.video {
		float:left;
		margin-right:3em;
	}
	a.delete {
		margin-top:160px;
		float:left;
	}
}


#studio .list {
	position:relative;
	li {
		padding:10px;
		background-color:@gray-echo;
		&:nth-child(2n) {
			background-color:@white-alpha;
		}

		&.place {
			height:40px;
			background-color:@yellow-alpha;
		}
		
		figure {
			float:left;
			width:40px;
			height:40px;
			overflow:hidden;
			margin-right:20px;
			img {
				width:40px;
				height:auto;
			}
		}
		
		a.url,
		a.view,
		strong {
			line-height:40px;
			float:left;
			width:400px;
			margin-right:20px;
		}
		.sort,
		.menu {
			float:left;
			padding:14px 0;
			margin-right:20px;
		}
		.sort,
		.menu a {
			margin-right:4px;
		}
	}

	&.links {
		a.url,
		strong {
			width:190px;
		}
		img {
			width:24px;
			margin:8px 0 0 8px;
		}
	}
}

#studio-add-link-form {
	li {
		cursor:pointer;
		float:left;
		margin:0 1em 1em 0;
		padding:2px;
		border:1px solid @white-alpha;
		.rounded(3px);
		&:hover {
			background:@gray-hotel;
			border-color:@gray-foxtrot;
		}
		&.selected {
			background:@blue-echo;
			border-color:@blue-alpha;
		}
	}
}
#studio-form-icon-field {
	width:460px;
}
#studio-person-view {
	figure {
		float:left;
		margin:0 2em 1em 0;
	}
	
}



#wizard-templates {
	div {
		margin-bottom:1em;
		text-align:right;
	}
}

#wizard-accordion {
	.step {
		margin-bottom: 18px;

		h3 {
			background: url(../images/wizard-toggle.png) 100% 16px no-repeat;
			color:@gray-alpha;
			float: none;
			font:bold 11px/44px sans-serif;
			text-transform: uppercase;
			padding:0;
			margin: 0;
			cursor: pointer;
			border-bottom: 1px solid @gray-foxtrot;
			-moz-border-radius-topleft: 3px;
			-moz-border-radius-topright: 3px;
			-moz-border-radius-bottomright: 0px;
			-moz-border-radius-bottomleft: 0px;
			-webkit-border-radius: 3px 3px 0px 0px;
			border-radius: 3px 3px 0px 0px; 
			&.error {
				color:@red-alpha;
			}
		}
		.box-title:hover {
			color: @gray-charlie;
			background-color: @gray-india;
		}

		&.active h3 {
			color: @blue-charlie;
			background-position: 100% -25px;
			cursor: default;
		}
		.box-content {
			display: none;
		}
		p {
			.font-shorthand(normal, 11px, 13px);
		}
		.loading {
			display: none;
			position:absolute;
			left:0;
			bottom:5px;
			width:50px;
			height:6px;
			background:url(../images/wizard-loading.gif) 0 0 no-repeat;
			text-indent:-9999px;
		}
		section.part {
			position: relative;
			float: left;
			margin-bottom: 20px;
			height:120px;
		}
		section.error {
			background-color:@pink-alpha;
			background-image:url(../images/alert-triangle.png);
			background-position: 100% 0;
			background-repeat:no-repeat;
		}
		section.locked {
			background-image:url(../images/lock.png);
			background-position: 100% 0;
			background-repeat:no-repeat;
		}
		section.style {
			width:180px;
			margin-right:20px;
		}
		section.icons {
			width:300px;
		}
		section.itunes-logo {
			float: right;
			width:300px;
		}
		section.logo {
			float: right;
			width:300px;
		}
		section.splash-bg {
			clear: both;
			width:540px;
		}
		section.studio-bg {
			width:420px;
		}
		section.generic-bg {
			float: right;
			width:420px;
		}

		section.main-font {
			width:420px;
			height:110px;
		}
		section.second-font {
			float: right;
			width:420px;
			height:110px;
		}
		section.copyrights,
		section.submit {
			width:auto;
			float: none;
			height: auto;
		}
		section {
			/****  top label ****/
			label .required {
				display: none;
			}
			label.title {
				color:#5e646e;
				font:bold 11px sans-serif;
				height:22px;
				text-transform: uppercase;
				display: block;
				a.help {
					font-size:10px;
					text-align:center;
					color:@blue-charlie;
				}
			}
		}
		.save {
			clear:both;
			text-align: right;
		}
		/****  color selector****/
		.color-selector {
			position: relative;
			float: left;
			input {
				width:120px;
			}
			a.miniColors-trigger {
				position: absolute;
				right:0;
				top:3px;
			}
		}
	}
}


/****  style selector****/

#wizard-accordion {
	.step {
		section.style {
			a.styl {
				height:24px;
				.font-shorthand(700, 10px, 24px);
				text-transform:uppercase;
				margin-bottom:8px;
				display:block;
				padding:0 10px;
				border:2px solid #fff;
				.rounded(4px);
				&:hover {
					border-color: #d0d0d0;
				}
				&.selected {
					border-color: #02b7f2;
				}
			}
			a {
				&.dark {
					.gradient(#222222, #222222, #646565);
					color:@white-alpha;
				}
				&.light {
					.gradient(#c1c1c1, #c1c1c1, #f5f5f5);
					color:@gray-lima;
				}
				&.biege {
					.gradient(#d9b265, #d9b265, #e8d2a9);
					color:#6a645c;
				}
			}
		}
	}
}
/****  uploader ****/
#wizard-accordion .step .upload {
	float:left;
	width:200px;
}
#wizard-accordion .step .upload .container {
	position: absolute;
	left:20px;
	bottom:20px;
}
/****  uploaded image ****/
#wizard-accordion .step .value-image {
	position: relative;
	float: right;
	width:80px;
	height: 80px;
	background: #efefef url(../images/wizard-no-image.png) 50% 50% no-repeat;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
}
#wizard-accordion .step .value-image img {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	width:80px;
	height: 80px;
}

/****  switcher ****/
#wizard-accordion .step .switcher {
	height:18px;
}
#wizard-accordion .step .switcher li {
	.inline-block;
	width:180px;
}
/****  color picker ****/
#wizard-accordion .step .color {
	float: left;
	width:180px;
	padding-top: 8px;
}


#wizard-accordion .step .group .description {
	margin-right: 100px;
}
#wizard-accordion .step .group .main-container {
	position: absolute;
	left:20px;
	bottom:20px;
}
#wizard-accordion .step .group .upload .container {
	left:auto;
	top:auto;
	bottom:auto;
	position: static;
	height:40px;
}
#wizard-accordion .step .group .value-image {
	position: absolute;
	right:20px;
	top:42px;
}
/****  fonts ****/
#wizard-accordion .step .group .font-style {
	position: absolute;
	left:20px;
	bottom:20px;
}
#wizard-accordion .step .group .font-color {
	position: absolute;
	right:20px;
	bottom:20px;
}
#wizard-accordion .step .group .font-style label,
#wizard-accordion .step .group .font-color label {
	display: block;
	margin-bottom: 4px;
}


#wizard-accordion .step .copyrights input[type=text] {
	width:500px;
}

#wizard-breadcrumbs {
	width:980px;
	height:60px;
	overflow:hidden;
	margin-bottom: 1em;
	margin-left: -1px;
	background: #fafafa;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
	position: relative;
	ul:before {
		content:'.';
		position: absolute;
		left:0;
		z-index: 100;
		top:0;
		display: block;
		width:1px;
		height:60px;
		text-indent: -9999px;
		background: #c9c9c9;
	}
	ul:after {
		content:'.';
		position: absolute;
		right:0;
		z-index: 100;
		top:0;
		display: block;
		width:1px;
		height:60px;
		text-indent: -9999px;
		background: #c9c9c9;
	}
	li {
		display: inline;
		&:first-child {
			margin-left:0;
		}
		a {
			float: left;  
			font-size: 12px;  
			line-height: 1;
			margin-left: -20px;  
			height:60px;
			padding:0 20px;
			width:180px;
			position: relative;  
			text-decoration: none;  
			background:url(../images/wizard-breadcrumb.png) 0 -60px no-repeat;
			&:hover {
				background-position: 0 -120px;
			}
			span {
				display: block;
				height:60px;
				position: relative;
				color: #c0c0c0;
				i {
					position: absolute;
					left:0;
					top:0;
					width:50px;
					font-size: 40px;
					font-weight: bold;
					font-style: normal;
					line-height: 60px;
					text-align: center;
				}
			}
		}
		a:active,
		&.active a {
			background-position: 0 0;
		}
		&:last-child a {
			width:160px;
		}
	}
}
#wizard-breadcrumbs li a span strong {
	position: absolute;
	left:50px;
	top:12px;
	font:normal normal 14px "Candal", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
#wizard-breadcrumbs li a span em {
	font:normal normal 11px Arial, Helvetica, sans-serif;
	text-transform: none;
	display: block;
}

#wizard-breadcrumbs li a:hover span i,
#wizard-breadcrumbs li a:hover span strong,
#wizard-breadcrumbs li a:hover span em {
	color: #999;
}

#wizard-breadcrumbs li a:active span i,
#wizard-breadcrumbs li.active a span i {
	color: #393939;
}
#wizard-breadcrumbs li a:active span strong,
#wizard-breadcrumbs li.active a span strong {
	color: #3ca7eb;
}
#wizard-breadcrumbs li a:active span em,
#wizard-breadcrumbs li.active a span em {
	color: #434951;
}

#wizard-breadcrumbs li.logo {
	z-index: 1;
}
#wizard-breadcrumbs li.colors {
	z-index:2;
}
#wizard-breadcrumbs li.fonts {
	z-index:3;
}
#wizard-breadcrumbs li.copyrights {
	z-index:4;
}
#wizard-breadcrumbs li.submit {
	z-index:5;
}






#application {
	.info {
		margin-bottom:40px;
		.shadow-box {
			width:420px;
			height:110px;
			position:relative;


			span.button {
				position:absolute;
				right:20px;
				bottom:20px;
			}
		}
		.status {
			float:left;
			figure {
				width:72px;
				height:72px;
				.rounded(10px);
				float:left;
				margin:0 1em 0 0;
				img {
					width:72px;
					height:72px;
					.rounded(10px);
				}
			}
			p {
				float:left;
				padding-top:8px;
				margin:0;
			}
		}
		.support,
		.submit {
			float:right;
		}

		.submit {
			background:@white-alpha url(../images/application-box-submit-bg.png) 385px 20px no-repeat;
			p {
				float:left;
				width:270px;
				line-height:1.3;
			}
		}

		h4 {
			.font-shorthand(700, 11px, 1);
			text-transform:uppercase;
			color:@gray-alpha;
			margin-bottom:10px;
			padding:0;
		}
	}


	.preview {
		

	}
}



.ipad {
	@ipad-width:940px;

	@ipad-height:round(@ipad-width/1.284); // 732
	@ipad-round:(@ipad-width/30); // 31

	@wrap-width:round(@ipad-width/1.2); //780
 	@wrap-height:round(@ipad-width/1.61); // 586
	@wrap-position:round(@ipad-width/11.75);

	@home-width:round(@ipad-width/23.5); // 40
	@home-height:@home-width;
	@home-round:round(@home-width/2);
	@home-position-x:round(@wrap-position/2-@home-width/2);
	@home-position-y:round(@ipad-height/2-@home-height/2);

	@home-inner-width:round(@home-width/2.66); // 15
	@home-inner-height:@home-inner-width;
	@home-inner-round:round(@home-inner-width/5);
	@home-inner-position-x:round(@home-width/2-@home-inner-width/2-1); // minus border
	@home-inner-position-y:@home-inner-position-x;
	
	@ipad-color:#c5c5c5;

	border:1px solid @ipad-color;
	background:@white-alpha;
	width:@ipad-width;
	height:@ipad-height; //732
	position:relative;
	.rounded(@ipad-round);
	.home {
		width:@home-width;
		height:@home-height;
		.rounded(@home-round);
		border:1px solid @ipad-color; 
		position:absolute;
		left:@home-position-x;
		top:@home-position-y;
		div {
			position:relative;
			span {
				position:absolute;
				display:block;
				border:1px solid @ipad-color; 
				width:@home-inner-width;
				height:@home-inner-height;
				left:@home-inner-position-x;
				top:@home-inner-position-y;
				.rounded(@home-inner-round);
			}
		}
	}
	.wrap {
		width: @wrap-width;
		height: @wrap-height;
		top:@wrap-position;
		left:@wrap-position;
		position:absolute;
		border:1px solid @ipad-color; 
		.content {
			position:relative;
			width: @wrap-width;
			height: @wrap-height;
			overflow: hidden;
			/*background:url(../images/application-ipad-test-image.jpg) 0 0 no-repeat;*/
			li.slide
			{
				width: @wrap-width;
				height: @wrap-height;
				position: absolute;
				top:0;
				left:0;
				display: none;
			}
		}
	}
	.pagination
	{
		position: absolute;
		left: 50%;
		margin-left: -141px;
		height: 10px;
		bottom: 30px;
		width: 282px;
		text-align: center;
	}
	.pagination li
	{
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 0 3px;
	}
	.pagination li a
	{
	    -webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		background: #b0b0b0;
		display: block;
		text-indent: -999px;
		height: 10px;
		overflow: hidden;
	}
	.pagination li a:hover {
	  background: #616161;
	}
	.pagination li.current a {
	  background: #3a3a3a;
	}
}



#application-preview {
	.box-preview {
		
	}
	.buttons {
		.margin-bottom-alpha;
		text-align:center;
	}
}
#ipad {
	position:relative;
	.case {
		width:980px;
		height:766px;
		background:url(../images/ipad.png) 0 0 no-repeat;
		position:relative;
		z-index:999;
		.margin-bottom-alpha;
	}
	.bg {
		position:absolute;
		top:20px;
		left:33px;
		background:@white-alpha;
		z-index:1;
		width:940px;
		height:700px;
		
	}
}


#application-support {
	h3 {
		.date {
			color:@gray-charlie;
		}
	}
	.replies {
		.padding-bottom-alpha;
		border-bottom:1px solid @gray-foxtrot;
		.margin-bottom-alpha;
		li {
			width:450px;
			padding:20px;
			clear:both;
			
			.rounded(4px);
			border:1px solid @gray-foxtrot;
			margin-bottom:10px;
			.box-shadow(1px 1px 0px 0px rgba(100, 100, 100, .5));
			&.member {
				float:right;
				.gradient(#E8EEF2, #E8EEF2, #fff);
			}
			&.admin {
				float:left;
				.gradient(#E8F2EA, #E8F2EA, #fff);
			}
			line-height:1.3;
			.title {
				font-weight:bold;
			}
			.added {
				font-size:11px;
				font-style:italic;
			}
			p {
				line-height:1.3;
				margin-bottom:0;
			}
		}
	}
}



#client-list .search-bar,
#inbox-list .search-bar,
#notification-list .search-bar,
#event-list .search-bar {
	float: left;
	width:16%;
	background: #fff;
}
#client-list .data-box,
#inbox-list .data-box,
#notification-list .data-box,
#event-list .data-box {
	width:73%;
	float: right;
}

.search-bar .search-box {
	margin-bottom: 1em;
}
.search-bar .search-box label {
	display: block;
	font-weight: bold;
	line-height: 1.5;
}
.search-bar .search-box input[type=text],
.search-bar .search-box input[type=password] {
	width:138px;
}
.search-bar .search-box div.selector {
	width:145px;
}
.search-bar .search-box div.selector span {
	width:112px;
}

.search-bar .search-box div.selector select {
	min-width:145px;
}
.search-bar .search-submit {
	margin-bottom: .5em;
}
.search-bar .search-submit input[type="submit"] {
	width:145px!important;
}
.search-bar .search-reset {
	margin-bottom: 0;
}
#search-bar-reset-btn {
	display: block;
	text-align: center;
	color: #777;
	text-decoration: underline;
}
#search-bar-reset-btn:hover {
	text-decoration: none;
}


/* Client page
*******************************/

#client-form {
	.events-block {
		margin: 0 20px 0 0;
		padding: 0;
		float: left;
		width: 195px;
		background: @white-alpha;
		color: @gray-delta;

		height:300px;
		.box-content {
			padding:10px;
			position:relative;
		}
	}
	.connectedSortable {
		list-style-type: none;
		margin: 0;
	}
	.connectedSortable li {
		margin: 0 0 5px 0;

	}

	.multiselect {
		display:none;
	}

	.ms-container {
		.ms-selectable, 
		.ms-selection {
			background: @white-alpha;
			background: #fff;
			float: left;
			.rounded(4px);
			.bordered(#cccccc, #b0b0b0, #b0b0b0, #cccccc);	
		}

		h3 {
			padding:0 20px;
			margin: 0;
			border-bottom: 1px solid @gray-foxtrot;
			background: @white-alpha;
			height:44px;
			.rounded-top(3px);
			color:@gray-alpha;
			font:bold 11px/44px sans-serif;
			text-transform: uppercase;
		}
		.ms-selectable{
			margin-right: 40px;
		}
		ul.ms-list{
			width: 185px;
			height: 250px;
			overflow-y: auto;
		}
		li.ms-elem-selectable,
		li.ms-elem-selected {
			padding: 0 10px;
			background-color:@gray-golf;
			line-height:2;
			border-top:1px solid @white-alpha;
			border-bottom:1px solid @gray-foxtrot;
			&:first-child {
				border-top:0;
			}
		}

		li.disabled,
		li.disabled{
			background:@gray-echo;
			color: @gray-foxtrot;
			border-bottom-color:@white-alpha;
		}

		.ms-optgroup-label{
			padding: 5px 0px 0px 20px;
			cursor: pointer;
			color: #999;
		}
		.ms-optgroup-label.collapse{}
		li.ms-elem-selectable:not(.disabled):hover,
		.ms-selection li:not(.disabled):hover{
			cursor: pointer;
			background-color: #eee;
			color: @blue-alpha;
		}

		.ms-container .ms-selection li:not(.disabled):hover{
			background:#eee;
		}

		.ms-selected {
			display:none;
		}

		&:after{
			content: "."; display: block; height: 0; line-height: 0; font-size: 0; clear: both; min-height: 0; visibility: hidden;
		}
	}
}
#client {
	.event-list {
		li {
			padding-bottom:1em;
			border-bottom:1px solid #ddd;
			margin-bottom:1em;
			font-weight:bold;
			font-size:11px;
			text-transform:uppercase;
			&:last-child {
				padding-bottom:0;
				border-bottom:none;
				margin-bottom:0;
			}
			a {
				display:block;
				img {
					float:left;
					max-width:100px;
					height:auto;
				}
				span {
					padding-left:2em;
					float:left;
					line-height:67px;
				}
				&:hover img {
					opacity:.8;
				}
			}
		}
	}
}


/* Uploader Styles
*******************************/
#photo-upload-container {
	width:720px;
	display:none;
	border:1px solid @gray-foxtrot;
	.rounded(3px);
}
.plupload_container {}


.plupload_header {
	background-image:url(../images/plupload-icon.gif);
	background-repeat:no-repeat;
	background-position:15px 50%;
	background-color:@white-alpha;

}
.plupload_header_content {
	min-height: 52px;
	padding-left: 60px;
	color: @gray-alpha;
	border-bottom:1px solid @gray-foxtrot;
	line-height:1.1;
}
.plupload_header_title {
	font-size:16px;
	.main-font;
	padding: 10px 0 3px;
}
.plupload_header_text {
	font-size:12px;
	.main-font;
}

.plupload_filelist_header,
.plupload_filelist_footer {
	background: @white-alpha;
	padding: 8px;
	font: bold 11px Verdana, sans-serif;
	background:#f9f9f9;
}
.plupload_filelist_header {
	border-bottom: 1px solid @gray-foxtrot;
}
.plupload_filelist_footer {
	border-top: 1px solid @gray-foxtrot;
	height: 22px; 
	line-height: 22px;
	vertical-align: middle;
}

.plupload_wrapper {
	font: normal 11px Verdana, sans-serif;
	width: 100%;
}

.plupload_scroll .plupload_filelist {
	height: 185px;
	background: @white-alpha;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAJElEQVQImWOYO3euFDJmgAFsgnPnzpViwCYIl8CnmwGrXdgEAbpNLpnJW+S5AAAAAElFTkSuQmCC);
	overflow-y: scroll;
}

.plupload_filelist {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		padding: 10px 8px;
		
		background-color:@white-alpha;
		border-bottom: 1px solid @gray-foxtrot;
	}
}


.plupload_container input {
	border: 1px solid #DDD;
	font: normal 11px Verdana,sans-serif;
	width: 98%;
}




.plupload_file_name {
	float: left; 
}

.plupload_file_size, 
.plupload_file_status, 
.plupload_progress {
	float: right;
	width: 80px;
}
.plupload_file_size, 
.plupload_file_status, 
.plupload_file_action {
	text-align: right;
}

.plupload_filelist .plupload_file_name {
	width: 205px
}

.plupload_file_action {
	float: right;
	width: 12px;
	margin-top:2px;
	height: 12px;
	margin-left: 15px;
}

.plupload_file_action * {
	display: none;
	.icon;
}

li.plupload_done {
	color:@gray-charlie;
	background-color:@blue-echo;
}

li.plupload_delete a {
	//.i_x_alt;
}
li.plupload_failed a {
	//.i_denied;
	cursor: default;
}
li.plupload_done a {
	.icon;
	//.i_check_alt;
	cursor: default;
}

.plupload_progress, 
.plupload_upload_status {
	display: none;
}

.plupload_progress_container {
	margin-top: 3px;
	border: 1px solid #CCC;
	background: #FFF;
	padding: 1px;
}
.plupload_progress_bar {
	width: 0px;
	height: 7px;
	background: @blue-delta;
}

.plupload_scroll .plupload_filelist_header .plupload_file_action, 
.plupload_scroll .plupload_filelist_footer .plupload_file_action {
	margin-right: 15px;
}

/* Floats */
.plupload_clear,.plupload_clearer {clear: both;}
.plupload_clearer, .plupload_progress_bar {
	display: block;
	font-size: 0;
	line-height: 0;	
}

li.plupload_droptext {
	background: transparent;
	text-align: center;
	vertical-align: middle;
	border: 0;
	line-height: 165px;
}








.plupload_buttons {
	line-height:1;
}

.plupload_button {
	color:@white-alpha;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
	position:relative;
	font-weight:700;
	outline:0 none;
	text-align:center;
	text-transform:uppercase;
	margin:0 2px;
	min-height:14px;
	line-height:14px;
	min-width:8px;
	white-space:pre-line;
	vertical-align:baseline;
	font-size:10px;
	padding:4px 7px;
	font-family:Arial, Helvetica, sans-serif;
	border:0;
	
	
	.rounded(4px);

	.btn-blue;
	
	&.plupload_disabled,
	&.plupload_disabled:hover {
		color: @gray-bravo;
		cursor: default;
		background:#ededed;
	}
	&.plupload_disabled:active {
		top:0;
	}
}

#subscription-add {
	.subscription-list {
		section.part {
			float: left;
			// 20 + 20 + 20 + (440 * 2) = 940px
			width: 410px;
			margin-right: 20px;
			margin-bottom: 15px;
			&:hover { background-color: @blue-echo;  }
		}
	}
}

#new-notification-form .cf > div
{
	width:700px;
}
#new-notification-form #response-message
{
	display:none;
}


/* Settings
*******************************/
#smugmug-form {
	.info {
		margin-top:24px;
		border-top:1px solid @gray-foxtrot;
		padding-top:24px;
	}
}