/* Reset styles
*******************************/
article,aside,details,figcaption,figure,
footer,header,hgroup,nav,section {
    display: block;
}
audio[controls],
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

html {
    overflow-y: scroll; /* 1 */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* 2 */
    -webkit-text-size-adjust: 100%; /* 3 */
    -ms-text-size-adjust: 100%;
}
body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,ul,li,ol,
a,em,img,strong,fieldset,form,label,article,aside,details,
figcaption,figure,footer,header,hgroup,nav,section{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    list-style: none;
}
:focus {outline: 0;}
img {vertical-align:middle; outline:0}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

::selection { background: #00A7DD; color:#fff; text-shadow:none; }
::-moz-selection { background: #00A7DD; color:#fff; text-shadow:none; }

::-webkit-input-placeholder  { color:#fff; }
input:-moz-placeholder { color:#fff; }


html, body, textarea, input { 
	font-size:12px;
	-webkit-text-size-adjust:none;
}

body {
    min-width:980px;
    font-family: sans-serif;
    text-align:left;
    color: #4d5156;
    background:#fff url(../images/medium-wrapper.gif) 0 0 repeat;
}

/* Links
*******************************/
a {
    color:#008eb0;
    text-decoration: none;
	cursor:pointer;
}
a:hover {
    color: #16cbf7;
}

/* Headers
*******************************/
h1, h2, h3, h4, h5, h6 {
    margin-bottom: .3em;
    color: #3c3e42;
	line-height: 1.1;
}
h1 {
	font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 22px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 12px;
}

/* Text elements
*******************************/
p               {margin: 0 0 1em 0; text-align: left; line-height:1.5;}
strong      	{font-weight: bold;}
em          	{font-style: italic;}
img				{border:0;}
.small			{font-size:10px;}

hr { 
	display:block;
	height:0px;
	line-height:0px;
	border:0;
	border-top:1px solid;
	border-bottom:1px solid;
	margin:16px 0;
	float:none;
	clear:both;
	padding:0;
}

/* Tables
*******************************/
table{
	width:100%;
	border-collapse:collapse;
	margin-bottom:18px;
}
table td, table th{
	border:1px solid #000;
	padding:6px 3px;
	text-align:center;
}
table th{
	font-weight:bold;
}

/* Wrappers
*******************************/
.w {
    width:980px;
    margin:0 auto;
}
.darker-w {
    background: url(../images/darker-wrapper.gif) 0 0 repeat;
}
.medium-w {
    background: url(../images/medium-wrapper.gif) 0 0 repeat;
}
.lighter-w {
    background: url(../images/lighter-wrapper.gif) 0 0 repeat;
}

/* Content
*******************************/
#content {
    
}

/* Header
*******************************/
#header-wrapper {
    background: url(../images/navwrapper.png) 0 0 repeat-x;
}
header {
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.03) 8%, rgba(255,255,255,0.13) 31%, rgba(255,255,255,0.05) 76%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(8%,rgba(255,255,255,0.03)), color-stop(31%,rgba(255,255,255,0.13)), color-stop(76%,rgba(255,255,255,0.05)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.03) 8%,rgba(255,255,255,0.13) 31%,rgba(255,255,255,0.05) 76%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.03) 8%,rgba(255,255,255,0.13) 31%,rgba(255,255,255,0.05) 76%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.03) 8%,rgba(255,255,255,0.13) 31%,rgba(255,255,255,0.05) 76%,rgba(255,255,255,0) 100%);
    background: linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.03) 8%,rgba(255,255,255,0.13) 31%,rgba(255,255,255,0.05) 76%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
    height: 62px;
    
    font-size: 16px;
}
header h1 {
    margin:0;
    padding: 0;
}
header h1 a {
    float: left;
    height: 62px;
    width:155px;
    background: url(../images/logo.png) 50% 50% no-repeat;
    text-indent: -9999px;
}
nav {
    float: right;
}
nav ul {
    border-left:1px solid #646b74;
}
nav ul li {
    float: left;
    border-left:1px solid #4a5057;
    border-right:1px solid #646b74;
}
nav ul li a {
    display: inline-block;
    line-height: 62px;
    vertical-align: middle;
    color: #ececec;
    padding:0 18px;
    text-shadow: 1px 1px 0px #000;
}
nav ul li a:hover {
    text-decoration: none;
}

header .social {
    float: right;
    height: 62px;
    padding:0 12px;
}
header .social a {
    width:28px;
    float: left;
    height: 62px;
    background: url(../images/social.png) 0 50% no-repeat;
    text-indent: -9999px;
}
header .social a:hover {
    opacity:.7;
}
header .social .fb {
    width:11px;
    background-position: 0 50%;
    margin-right: 16px;
}
header .social span {
    float: left;
    width:1px;
    height: 62px;
    margin-right: 16px;
    background:url(../images/social-sep.gif) 0 50% no-repeat;
}
header .social .twi {
    background-position: -40px 50%;
}

header .login {
    float: right;
    
}
header .login a {
    padding:0 22px;
    height: 62px;
    line-height: 62px;
    display: block;
    color: #fff;
    
    -webkit-box-shadow: inset 0px 1px 1px 0px #007dc4;
    -moz-box-shadow: inset 0px 1px 1px 0px #007dc4;
    box-shadow: inset 0px 1px 1px 0px #007dc4; 
    
    background: rgb(11,218,255);
    background: -moz-linear-gradient(top,  rgba(11,218,255,1) 0%, rgba(1,176,240,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(11,218,255,1)), color-stop(100%,rgba(1,176,240,1)));
    background: -webkit-linear-gradient(top,  rgba(11,218,255,1) 0%,rgba(1,176,240,1) 100%);
    background: -o-linear-gradient(top,  rgba(11,218,255,1) 0%,rgba(1,176,240,1) 100%);
    background: -ms-linear-gradient(top,  rgba(11,218,255,1) 0%,rgba(1,176,240,1) 100%);
    background: linear-gradient(top,  rgba(11,218,255,1) 0%,rgba(1,176,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0bdaff', endColorstr='#01b0f0',GradientType=0 );

}

header .login a:hover {
    background: rgb(99,231,255);
    background: -moz-linear-gradient(top,  rgba(99,231,255,1) 0%, rgba(57,191,239,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,231,255,1)), color-stop(100%,rgba(57,191,239,1)));
    background: -webkit-linear-gradient(top,  rgba(99,231,255,1) 0%,rgba(57,191,239,1) 100%);
    background: -o-linear-gradient(top,  rgba(99,231,255,1) 0%,rgba(57,191,239,1) 100%);
    background: -ms-linear-gradient(top,  rgba(99,231,255,1) 0%,rgba(57,191,239,1) 100%);
    background: linear-gradient(top,  rgba(99,231,255,1) 0%,rgba(57,191,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63e7ff', endColorstr='#39bfef',GradientType=0 );

}

/* Content Header
*******************************/
.page-header {
}
.page-header h2 {
    color: #f6f6f6;
    margin:0;
    padding:2em 1em;
    font-weight: normal;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 10%, rgba(255,255,255,0.14) 50%, rgba(255,255,255,0) 90%);
    background: -webkit-gradient(linear, left top, right top, color-stop(10%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.14)), color-stop(90%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 10%,rgba(255,255,255,0.14) 50%,rgba(255,255,255,0) 90%);
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 10%,rgba(255,255,255,0.14) 50%,rgba(255,255,255,0) 90%);
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 10%,rgba(255,255,255,0.14) 50%,rgba(255,255,255,0) 90%);
    background: linear-gradient(left,  rgba(255,255,255,0) 10%,rgba(255,255,255,0.14) 50%,rgba(255,255,255,0) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
    display: inline-block;
}


/* Breadcrumb
*******************************/

.breadcrumb{
	margin-bottom:20px;
	display:block;
	overflow:hidden;
	zoom:1;
}
.breadcrumb.disabled{
	opacity:0.8;
	filter:Alpha(opacity=80);
}
.breadcrumb li{
	float:left;
	margin:0;
	list-style:none;
	max-width:280px;
}
.breadcrumb li:first-child{
	margin-left:0px;
}
.breadcrumb li a,
.breadcrumb li span {
	padding:10px 35px 10px 0;
	font-size:14px;
	display:block;
	font-weight:700;
	text-decoration:none;
}

/* Message Boxes
*******************************/
div.flash {
	border:1px solid;
	border-color: #C7C7C7 #B2B2B2 #B2B2B2 #C7C7C7;
	margin-bottom:15px;
	cursor:pointer;
	background-repeat:no-repeat;
	background-position:7px 8px;
	padding:10px 10px 10px 35px;
	font-size:14px;
	line-height: 1;
	font-weight:700;
	margin:0 0 1em 0;
	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
}
div.flash a{
	font-size:14px;
	font-weight:700;
}
div.flash.success {
	background: #A2E8A2;
}
div.flash.error {
	background: #F0CCCC;
}
div.flash.notice {
	background: #E8E8A2;
}


/* Buttons
*******************************/
button, a.btn,
.dataTables_paginate span.paginate_button,
.dataTables_paginate span.paginate_active{
	border:1px solid;
	position:relative;
	padding:9px 12px;
	display:inline-block;
	cursor:pointer;
	background-repeat:no-repeat;
	background-position:4px 5px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	text-decoration:none;
	font-size:11px;
	font-weight:700;
	outline:0 none;
	text-align:center;
	text-transform:uppercase;
	margin:2px;
	min-height:22px;
	min-width:8px;
	white-space:pre-line;
	vertical-align:baseline;
}
button.small, a.btn.small{
	min-height:14px;
	line-height:14px;
	font-size:10px;
	padding:4px 7px;
}
button.big, a.btn.big{
	font-size:14px;
	padding:12px 16px;
}
button.icon, a.btn.icon{
	padding-left:27px;
}
button.small.icon, a.btn.small.icon{
	padding-left:23px;
	background-position:0 -2px;
}
button.big.icon, a.btn.big.icon{
	padding-left:27px;
	background-position:-0 8px;
}
a.btn.nt, button.nt{
	background-position:50% 50%;
	text-indent:-9999px;
}
a.btn.small.nt, button.small.nt{
	padding-left:12px;
	padding-right:12px;
}
button{
}
a.btn{
	line-height:18px;
	min-height:18px;
}
button:hover, a.btn:hover{
}
button:active, a.btn:active,
.dataTables_paginate span.paginate_active{
	top:1px;
}

/* Form elements
*******************************/
input,
textarea {
    background: #fff;
    color: #675942;
    padding:5px;
    margin:0;
    border:1px solid #cacaca;

	padding:4px 2px;
	margin:0 1px;
	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
	
}

input[type=text],
textarea {
	-webkit-appearance: none;
}
textarea {
    resize:none;
}
input[type=submit],
input[type=button] {
    
}

input.placeholder,textarea.placeholder{
	font-style:italic;
}
input:focus,textarea:focus{
	outline:none;
}
select optgroup, select option{
	font-style:normal;
	border:0;
}
select option{}
input[type=submit], input[type=checkbox], input[type=radio], input[type=button], button{
	width:auto !important;
}





















/* Body Content
*******************************/
.body {
    padding:30px 0;
}
/* Footer
*******************************/
.footer-w {
    -webkit-box-shadow: 0px 0px 2px 0px #999999;
    -moz-box-shadow: 0px 0px 2px 0px #999999;
    box-shadow: 0px 0px 2px 0px #999999; 
}
footer {
    padding:20px 0;
    font-size: 11px;
    color: #9b9b9b;
    text-transform: uppercase;

}
footer p {
    margin:0;
    line-height: 1;
}
footer a {
    color: #9b9b9b;
    text-decoration: underline;
}
footer a:hover {
    color:#888;
    text-decoration: none;
}









.descr {
    color: #a7a7a7;
    font-size: 12px;
}


























/*----------------------------------------------------------------------*/
/* width
/*----------------------------------------------------------------------*/

.w_1{  width:1%  !important; }
.w_5{  width:5%  !important; }
.w_10{ width:10% !important; }
.w_15{ width:15% !important; }
.w_20{ width:20% !important; }
.w_25{ width:25% !important; }
.w_30{ width:30% !important; }
.w_33{ width:33% !important; }
.w_35{ width:35% !important; }
.w_40{ width:40% !important; }
.w_45{ width:45% !important; }
.w_50{ width:50% !important; }
.w_55{ width:55% !important; }
.w_60{ width:60% !important; }
.w_65{ width:65% !important; }
.w_66{ width:66% !important; }
.w_70{ width:70% !important; }
.w_75{ width:75% !important; }
.w_80{ width:80% !important; }
.w_85{ width:85% !important; }
.w_90{ width:90% !important; }
.w_95{ width:95% !important; }

.w_5p{  width:5px  !important; }
.w_10p{ width:10px !important; }
.w_15p{ width:15px !important; }
.w_20p{ width:20px !important; }
.w_25p{ width:25px !important; }
.w_30p{ width:30px !important; }
.w_35p{ width:35px !important; }
.w_40p{ width:40px !important; }
.w_45p{ width:45px !important; }
.w_50p{ width:50px !important; }
.w_55p{ width:55px !important; }
.w_60p{ width:60px !important; }
.w_65p{ width:65px !important; }
.w_70p{ width:70px !important; }
.w_75p{ width:75px !important; }
.w_80p{ width:80px !important; }
.w_85p{ width:85px !important; }
.w_90p{ width:90px !important; }
.w_95p{ width:95px !important; }
.w_100p{ width:100px !important; }

.w_105p{ width:105px !important; }
.w_110p{ width:110px !important; }
.w_115p{ width:115px !important; }
.w_120p{ width:120px !important; }
.w_125p{ width:125px !important; }
.w_130p{ width:130px !important; }
.w_135p{ width:135px !important; }
.w_140p{ width:140px !important; }
.w_145p{ width:145px !important; }
.w_150p{ width:150px !important; }
.w_155p{ width:155px !important; }
.w_160p{ width:160px !important; }
.w_165p{ width:165px !important; }
.w_170p{ width:170px !important; }
.w_175p{ width:175px !important; }
.w_180p{ width:180px !important; }
.w_185p{ width:185px !important; }
.w_190p{ width:190px !important; }
.w_195p{ width:195px !important; }
.w_200p{ width:200px !important; }

.fl{ float:left !important; }
.fr{ float:right !important; }

.l{ text-align:left; }
.c{ text-align:center; }
.j{ text-align:justify; }
.r{ text-align:right; }



/* Clearfix
*******************************/
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}

.clear {
	clear:both;
}





/* Ajax Loader
*******************************/
#ajax-loader {
	position: fixed;
	right:10px;
	bottom:10px;
	border:1px solid red;
	background: #fff;
	padding:10px;
	font-size:10px;
	color: #000;
	line-height: 1;
	display: block;
	display: none;
}